In this study, 249 mice identified with SCC tumor growth were treated through a variety of drug regimens. Over the course of 45 days, tumor development was observed and measured. The purpose of this study was to compare the performance of Pymaceuticals' drug of interest, Capomulin, versus the other treatment regimens. The executive team has asked me to generate all of the tables and figures needed for the technical report of the study. The executive team also has asked for a top-level summary of the study results.

In [2]:
#make it interactive
%matplotlib notebook

#dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

#read in data
mouse_data=pd.read_csv("./Resources/Mouse_metadata.csv")
study_results=pd.read_csv("./Resources/study_results.csv")

#merge the two data sets on mouse ID
merged_study=pd.DataFrame.merge(mouse_data,study_results, how='outer',on="Mouse ID")
merged_study

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [7]:
#look for duplicates on Mouse ID and Timepoint
duplicates=merged_study.loc[pd.DataFrame.duplicated(merged_study,subset=["Mouse ID","Timepoint"]), "Mouse ID"].unique()
duplicates

array(['g989'], dtype=object)

In [9]:
duplicate_entries_df=merged_study.loc[merged_study["Mouse ID"] == "g989"]
duplicate_entries_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [11]:
#cleaning for duplicates on Mouse ID and Timepoint
clean_study_results=merged_study[merged_study['Mouse ID'].isin(duplicates)==False]
clean_study_results

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [17]:
#Create a summary statistics table consisting of the 
#mean, median, variance, standard deviation, and SEM of the Tumor Volume for each drug regimen
avgs=clean_study_results.groupby('Drug Regimen').mean()["Tumor Volume (mm3)"]
medians=clean_study_results.groupby('Drug Regimen').median()["Tumor Volume (mm3)"]
variances=clean_study_results.groupby('Drug Regimen').var()["Tumor Volume (mm3)"]
standard_devs=clean_study_results.groupby('Drug Regimen').std()["Tumor Volume (mm3)"]
SEMs=clean_study_results.groupby('Drug Regimen').sem()["Tumor Volume (mm3)"]

stat_summary_table= pd.DataFrame({"Avg. Tumor Volume":avgs,
                                "Median Tumor Volume":medians,
                                "Variance":variances,
                                "Standard Deviation":standard_devs,
                                "Standard Error": SEMs})
stat_summary_table

,Avg. Tumor Volume,Median Tumor Volume,Variance,Standard Deviation,Standard Error
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.320930,50.446266,43.852013,6.622085,0.544332
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

In [ ]:
#Create a bar plot using both Pandas's `DataFrame.plot()` and Matplotlib's `pyplot` that shows 
#the number of total mice for each treatment regimen throughout the course of the study
#plot titles, axis labels, legend labels, _x_-axis and _y_-axis limits, etc.

In [ ]:
# Create a pie plot using both Pandas's `DataFrame.plot()` and Matplotlib's `pyplot` 
#that shows the distribution of female or male mice in the study
#plot titles, axis labels, legend labels, _x_-axis and _y_-axis limits, etc.

In [ ]:
#Calculate the final tumor volume of each mouse across four of the most promising treatment regimens: Capomulin, Ramicane, Infubinol, and Ceftamin.

In [ ]:
#Calculate the quartiles and IQR and quantitatively determine if there are any potential outliers across all four treatment regimens.

In [ ]:
#Using Matplotlib, generate a box and whisker plot of the final tumor volume for all four treatment regimens
#and highlight any potential outliers in the plot by changing their color and style.

# All four box plots should be within the same figure. 
#Use this [Matplotlib documentation page]
#(https://matplotlib.org/gallery/pyplots/boxplot_demo_pyplot.html#sphx-glr-gallery-pyplots-boxplot-demo-pyplot-py) 
#for help with changing the style of the outliers.
#plot titles, axis labels, legend labels, _x_-axis and _y_-axis limits, etc.