In this study, 249 mice identified with SCC tumor growth were treated through a variety of drug regimens. Over the course of 45 days, tumor development was observed and measured. The purpose of this study was to compare the performance of Pymaceuticals' drug of interest, Capomulin, versus the other treatment regimens. The executive team has asked me to generate all of the tables and figures needed for the technical report of the study. The executive team also has asked for a top-level summary of the study results.

In [1]:
#make it interactive
%matplotlib notebook

#dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

#read in data
mouse_data=pd.read_csv("./Resources/Mouse_metadata.csv")
study_results=pd.read_csv("./Resources/study_results.csv")

#merge the two data sets on mouse ID
merged_study=pd.DataFrame.merge(mouse_data,study_results, how='outer',on="Mouse ID")
merged_study

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [17]:
#look for duplicates on Mouse ID and Timepoint
merged_study["Mouse ID", "Timepoint"].nunique()

KeyError: ('Mouse ID', 'Timepoint')

In [2]:
#cleaning for duplicates on Mouse ID and Timepoint
clean_study_results=pd.DataFrame.drop_duplicates(merged_study, subset=["Mouse ID","Timepoint"])
clean_study_results

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [ ]:
#Create a summary statistics table consisting of the 
#mean, median, variance, standard deviation, and SEM of the Tumor Volume for each drug regimen
avg_tumor_vol=clean_study_results["Tumor Volume (mm3)"].mean()
median_tumor_vol=clean_study_results["Tumor Volume (mm3)"].median()

In [ ]:
#Create a bar plot using both Pandas's `DataFrame.plot()` and Matplotlib's `pyplot` that shows 
#the number of total mice for each treatment regimen throughout the course of the study
#plot titles, axis labels, legend labels, _x_-axis and _y_-axis limits, etc.

In [ ]:
# Create a pie plot using both Pandas's `DataFrame.plot()` and Matplotlib's `pyplot` 
#that shows the distribution of female or male mice in the study
#plot titles, axis labels, legend labels, _x_-axis and _y_-axis limits, etc.

In [ ]:
#Calculate the final tumor volume of each mouse across four of the most promising treatment regimens: Capomulin, Ramicane, Infubinol, and Ceftamin.

In [ ]:
#Calculate the quartiles and IQR and quantitatively determine if there are any potential outliers across all four treatment regimens.

In [ ]:
#Using Matplotlib, generate a box and whisker plot of the final tumor volume for all four treatment regimens
#and highlight any potential outliers in the plot by changing their color and style.

# All four box plots should be within the same figure. 
#Use this [Matplotlib documentation page]
#(https://matplotlib.org/gallery/pyplots/boxplot_demo_pyplot.html#sphx-glr-gallery-pyplots-boxplot-demo-pyplot-py) 
#for help with changing the style of the outliers.
#plot titles, axis labels, legend labels, _x_-axis and _y_-axis limits, etc.